*{
    border: 0;
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a{
    font-size: 15px;
}

input{
    border-radius: 5px;
    height: 20px;
    width: auto;
    font-size: 15px;
}

button{
    border-radius: 5px;
    height: 40px;
    width: auto ;
    font-size: 25px;
    color: white;
    margin: 30px 10px 0 0;
    background-color: #4951e9;
}

header{
    display: flex;
    position: fixed;
    background-color: #636AF2;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: space-between;
}

header h1,
header ul{
    display: flex;
    margin: 0;
    padding: 15px;
    align-items: flex-end;
}

header img{
    mix-blend-mode: color-burn;
    list-style: none;
    margin: 0px 15px;
    background: none;
}

main section{
    margin-top: 62px;
    display: flex;
    background-color: #F2AC57;
    font-size: 20px;
}

main #Login{
    border: 10px;
    height: 300px;
    margin-top: 5%;
    margin-left: 20%;
    width: auto;
    align-content: center;
    justify-content: center;
    border-radius: 20px;
    padding: 30px;
    background-color: azure;
}

main section img{
    left: 0;
    height: auto;
    width: 50%;
}

main div.botton {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
}