*{
    border: 0;
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    scrollbar-width: none;
    color: white;
}

a{
    font-size: 1.5vh;
}

input{
    border-radius: 4vw;
    height: 3vw;
    width: 15.5vw;
    font-size: 2vh;
}

button{
    border-radius: 0.7vw;
    height: 4vh;
    width: 6.5vw;
    font-size: 1.8vh;
    color: white;
    margin: 1vw 1vh;
    background-color: #636AF2;
    box-shadow: 0px 10px 10px #242cb3;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    background-color: #636AF2;
    height: 5.5vh;
    width: 100%;
    top: 0;
    left: 0;
}

header h1,
header ul{
    display: flex;
    align-items: flex-end;
    margin: 0;
    padding: 2vw;
}

main{
    display: flex;
    margin-top: 5.5vh;
    height: 94.2vh;
}

main #Login{
    display: grid;
    align-content: center;
    justify-content: center;
    background-color: #F2AC57;
    width: 100%;
}

main .Login{
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #3940BF;
    height: 50vh;
    width: 150%;
    border-radius: 30px;
}

main .Login div{
    margin: 2vh 0vw;
}

main .image{
    width: 100%;
    height: 100%;
}

main img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main h1,
main h3{
    font-size: 4vh;
}

main .Login #button {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 1024px) {
    main {
        display: grid;
    }

    main .image{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    main img{
        height: 100%;
        width: 100%;
    }

    main #Login{
        width: 100%;
    }
}